---
import Layout from "../layouts/Layout.astro";
import TaskList from "./../components/Tasks/TaskList.svelte";
import { type TaskArray } from "../components/Tasks/TaskType";
import { actions } from "astro:actions";
let tasks: TaskArray | [] = [];
try {
	const { data } = await actions.getTasks();
	if (data) {
		tasks = data;
	}
} catch (error) {
	console.error(error);
}
---

<Layout title="ToDo list">
	<main>
		<TaskList client:load tasks={tasks} />
	</main>
</Layout>
